.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1.5rem;

  background-color: var(--page-header-bg);
  color: var(--page-header-text);

  h1 {
    font-size: 2rem;
  }
}

.btn-download {
}

@media print {
  .page-header,
  .user-input-section {
    display: none;
  }

  .cv-preview-section {
    padding: 0;

    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  .cv-preview {
    max-width: unset;
  }

  @page {
    size: 8.5in 13in;
    margin: 0;
  }
}
