.user-input-section {
  form {
    max-width: 25rem;
  }

  header {
    margin-block-end: 0.5rem;
  }
}

.form-group {
  background-color: var(--bg-primary);
  padding-block: 1rem;
  padding-inline: 1.5rem;
}

.multi-input {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 0.3rem;
  padding-block: 0.5rem;

  label,
  .multi-input-container {
    display: flex;
    align-items: start;
    width: 100%;
  }

  label {
    position: relative;
  }

  label::before {
    content: "";
    display: block;
    aspect-ratio: 1/1;
    width: 0.25rem;
    margin-block-start: 0.7rem;
    margin-inline-start: 0.5rem;
    background-color: black;
    border-radius: 100%;
  }

  input,
  textarea {
    border: none;
    outline: none;
  }

  .multi-input-container {
    overflow: hidden;
  }
}
